<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Step4 監視 + Rekognition</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h2>Step4 リモート監視カメラ + Rekognition</h2>
  <p>
    状態: <span id="st">接続中...</span> &nbsp;/&nbsp;
    時刻: <span id="time">--:--:--.---</span> &nbsp;/&nbsp;
    検知: <span id="cnt">0</span>件
  </p>
  <img id="feed"><br>
  <h3>検知ログ（Rekognition認識結果付き）</h3>
  <div id="log"></div>
  <script src="/static/viewer.js"></script>
</body>
</html>
